body {
    margin: 0px;
  }
  
  img {
    height: 80px;
    display: flex;
    order: 2;
  }
  
  #navbar-one {
    height: 60px;
    padding: 10px;
    background-color: lightgray;
    display: flex;
  }
  
  #navbar-two {
    height: 120px;
    padding: 10px;
    background-color: whitesmoke;
    display: flex;
  }
  
  .item {
    margin: 10px;
    padding: 20px;
  }
  
  .album {
    margin: 0 100px;
  }
  
  #circle {
    height: 50px;
    width: 50px;
    background-color: green;
    border-radius: 50%;
    justify-self: flex-start;
  }